.pacientes{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    background-color: #033269;
    font-size: 1.1em;
    text-decoration: none; 
}

/* Deixa o fundo azul */

.paciente_logotipo{
    margin-left: 1%;
    margin-top: 1%
}

h1{
    font-size: 2.5em;
    color: white;
    margin-top: -4%;
    margin-left: 35%;
    line-height: 1.2;
    padding: 0em 1em 0em 1em;
}

.botao_paciente_sair input{
    background: #B51010;
    color: #fff;
    float: right;
}